<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trang quản trị</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="trangQuanTri">Quản trị</a></li>
          <li><a href="sanPham">Sản Phẩm</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>

    <h1>Quản Trị</h1>
    <div class="input-group" style="display: inline-flex;">
      <input style=" margin-right: 3px" type="search" class="form-control rounded" placeholder="Search"
        aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-primary">Tìm kiếm</button>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hoang</td>
            <td>Quyet</td>
            <td>quyethnph27643@fpt.edu.vn</td>
          </tr>
          <tr>
            <td>Hoang</td>
            <td>Quyet</td>
            <td>quyethnph27643@fpt.edu.vn</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="display: inline-flex;">
      <button type="button" class="btn btn-success" style=" margin-right: 3px">Sửa</button>
      <button type="button" class="btn btn-danger">Xoá</button>
    </div>
  </div>

</body>

</html>